#page-container {
    width: min(100% - 20px, 1450px);
    margin-inline: auto;
    /* border: 2px;
    border:solid; */
}


/* Technical Skill section */
.technical-section-header{
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;

}