#nameBanner{
    display: flex;
}



#helloBanner{
    font-size: x-large;
}

.letterEffect:hover {
    color:rgb(132,230, 203);
}
.letterEffectW:hover {
    color:white;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
  }
  
  .col {
    display: table-cell; /* Make elements inside the container behave like table cells */
  }

.hidden{
    display: none;
}

.formBorder {
    border-radius: 25px;
    border: 2px solid rgb(21,34,62);
}

body {
    background-color: rgb(14,24,45);
    color: white;
    font-family: "Hind", sans-serif;
}

.highlight {
    color:rgb(132,230, 203);
}

.grayHighlight {
    color:rgb(206, 214, 243);
}

.graylight {
    color: rgb(138,146,173)
}

.d-flex {
    gap: 20px;
}

.project {
    background-color: rgb(21,34,62);
}


 .link:hover {
    color: rgb(132,230, 203);
 }

 .card-body {
    background-color: rgb(21,34,62);

 }

 .card {
    border: none;
 }

 .tech-stack {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap:wrap;
 }

 .btn-outline-success{
    border-color: rgb(132,230, 203) !important;
    color: rgb(132,230, 203);;
 }

 #aboutMe{
    font-size: larger;
 }