body {
    background-color: rgb(14,24,45);
    color: white;
    font-family: "Hind", sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
}

.banner--teal {
    color:rgb(132,230, 203);
}

.banner_letter {
    margin-bottom: 0;
    padding-bottom: 0;
    transition: transform 0.1s;
}

.banner_letter:hover {
    transform: scale(1.1);
}

.banner_letter--sm {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.banner_letter--sm:hover {
    color:rgb(132,230, 203);
}

.banner_letter--lg {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
}

.banner_letter--lg:hover {
    color: white;
}

/* Old styles */




.btn {

}

.section {

}


/* OLD CSS */
.about-section-card {
    border: solid;
    background-color: rgb(14,24,45);
}


#nameBanner{
    display: flex;
}

.bannerLettersm{
    font-size: clamp(40px, 8vw, 80px);
}


.navbar-item {
    border-bottom: 5px solid rgb(14,24,45);
    padding-bottom: 0px;
    margin-bottom: 0%;
}

.navbar-item:hover::after{
    transform: scaleX(1);
}

.navbar-item::after {
    /* border-bottom: 3px solid rgb(132,230, 203); */
    content: '';
    width: 100%;
    height: 1px;
    background-color:rgb(132,230, 203) ;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom:0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.navbar-link {
    margin-bottom: 0%;
}


.graylink {
    color:rgb(206, 214, 243);
}
a {
    text-decoration: none;
}

#helloBanner{
    font-size: x-large;
}



.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
  }
  
  .col {
    display: table-cell; /* Make elements inside the container behave like table cells */
  }

.hidden{
    display: none;
}

.formBorder {
    border-radius: 25px;
    border: 2px solid rgb(21,34,62);
}



.highlight {
    color:rgb(132,230, 203);
}

.grayHighlight {
    color:rgb(206, 214, 243);
}

.graylight {
    color: rgb(138,146,173)
}

.d-flex {
    gap: 20px;
}

.project {
    background-color: rgb(21,34,62);
}


 .link:hover {
    color: rgb(132,230, 203);
 }

 .card-body {
    background-color: rgb(21,34,62);

 }

 .card {
    border: none;
 }

 .tech-stack {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap:wrap;
 }

 .btn-outline-success{
    border-color: rgb(132,230, 203) !important;
    color: rgb(132,230, 203);;
 }

 #aboutMe{
    font-size: larger;
 }


 /* w3 override */

 .w3-animate-right{
    position:relative;animation:animateright 1.3s
}@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    } 
    to{
        right:0;opacity:1
    }
}

.w3-animate-left{
    position:relative;
    animation:animateleft 1.3s
}@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } to{
        left:0;opacity:1
    }
}

.w3-animate-bottom{position:relative;animation:animatebottom 1.0s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

.w3-animate-fading{
    animation:fading 5s
}@keyframes 
fading{
    0%{opacity:0}
    50%{opacity:1}
    /* 100%{opacity:0} */
}

.iconlink {
    text-decoration: none;
    color: white;
}

.iconlink:hover {
    color: rgb(132,230, 203);
}

.hideMessageSentBanner {
    color: rgb(14,24,45);
}

.hidden {
    display: none;
}

.col {
    flex: 1; /* additionally, equal width */
    padding: 1em;
    background-color: rgb(21,34,62);
  }

.project-skills {
    background-color: rgb(21,34,62);
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap:wrap;
}


/* Banner */

@media only screen and (min-width:992px) { 
    .bannerLettersm{
        font-size: 50px;
    }
    .bannerLetterlg{
        font-size: 70px;
    }

}

@media only screen and (min-width:1400px) { 
    .bannerLettersm{
        font-size: 60px;
    }
    .bannerLetterlg{
        font-size: 80px;
    }

}

/* tech logo */
.techIcon {
    width: 80px;
    height: 80px;
}

.letterEffect, .letterEffectW {
    transition: transform 0.1s;
}

.letterEffect:hover {
    transform: scale(1.1);
}

.letterEffectW:hover {
    transform: scale(1.1);

}

  
#page-container {
    width: min(100% - 20px, 1450px);
    margin-inline: auto;
    /* border: 2px;
    border:solid; */
}


/* Technical Skill section */
.technical-section-header{
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;

}
  
  
  
  